<ion-header [hidden]="devWidth > 576">
  <ion-toolbar>
    <ion-title>Good Sentiment</ion-title>
    <app-logout slot="end"></app-logout>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segmentSelected">
    <ion-segment-button value="Stocks">
      <ion-label>Stonks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Crypto">
      <ion-label>Crypto</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--Put segment content here-->
  <div [ngSwitch]="segmentSelected">
    <!--Camera selection stuff-->
    <div *ngSwitchCase="'Stocks'">

      <ion-note>Stonks Chart</ion-note>
      <br>
    </div>
    <!--Bookmark selection stuff-->
    <div *ngSwitchCase="'Crypto'">

      <ion-note>Crypto Chart </ion-note>
      <br>
    </div>
  </div>

</ion-content>