<ion-header>
  <ion-toolbar>
    <ion-title>Crypto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="funnel" style="font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-segment [(ngModel)]="goodBad">
    <ion-segment-button value="good" class="label">
      <ion-label>
        Positive Sentiment
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bad" class="label">
      <ion-label>
        Negative Sentiment
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-buttons slot="start" size="large">
        <ion-button (click)="filterPopup()">
          <ion-icon slot="icon-only" name="filter-outline" style="font-size: 20px;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-select interface="popover" [(ngModel)]="timeline" slot="end">
        <app-timeline></app-timeline>
      </ion-select>
    </ion-item>

  </ion-list>

  <div [ngSwitch]="goodBad">
    <div *ngSwitchCase="'good'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', pCryptoOne.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{pCryptoOne.id}}</h3>
                      <h4>{{pCryptoOne.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="positive-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{pCryptoOne.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> {{changeOne}}% </span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', pCryptoTwo.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{pCryptoTwo.id}}</h3>
                      <h4>{{pCryptoTwo.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="positive-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{pCryptoTwo.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', pCryptoThree.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{pCryptoThree.id}}</h3>
                      <h4>{{pCryptoThree.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="positive-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{pCryptoThree.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', pCryptoFour.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{pCryptoFour.id}}</h3>
                      <h4>{{pCryptoFour.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="positive-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{pCryptoFour.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', pCryptoFive.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{pCryptoFive.id}}</h3>
                      <h4>{{pCryptoFive.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="positive-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{pCryptoFive.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
        </div>
        <div *ngSwitchCase="'oneWeek'">
          one Week
        </div>
        <div *ngSwitchCase="'oneMonth'">
          One Mont
        </div>
        <div *ngSwitchCase="'threeMonths'">
          3 month
        </div>
        <div *ngSwitchCase="'sixMonths'">
          6 month
        </div>
        <div *ngSwitchCase="'oneYear'">
          one year
        </div>
        <div *ngSwitchCase="'threeYears'">
          3 year
        </div>
        <div *ngSwitchCase="'allTime'">
          all time
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'bad'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', nCryptoOne.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{nCryptoOne.id}}</h3>
                      <h4>{{nCryptoOne.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="negative-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{nCryptoOne.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> {{changeTwo}}% </span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', nCryptoTwo.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{nCryptoTwo.id}}</h3>
                      <h4>{{nCryptoTwo.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="negative-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{nCryptoTwo.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', nCryptoThree.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{nCryptoThree.id}}</h3>
                      <h4>{{nCryptoThree.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="negative-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{nCryptoThree.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', nCryptoFour.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{nCryptoFour.id}}</h3>
                      <h4>{{nCryptoFour.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="negative-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{nCryptoFour.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/crypto', nCryptoFive.id]">
                <ion-row>
                  <ion-col size="2.25" size-sm id="title">
                    <ion-label>
                      <h3>{{nCryptoFive.id}}</h3>
                      <h4>{{nCryptoFive.name}}</h4>
                    </ion-label>
                  </ion-col>
                  <ion-col size="9.75" size-sm>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Sentiment<span id="negative-sentiment"> 78%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Price<span id="price"> ${{nCryptoFive.price}}</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="sentiment-change"> 6%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" size-md>
                        <ion-label>
                          <h3>Change<span id="price-change"> 31%</span>
                          </h3>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </a>
            </ion-grid>
          </ion-item-divider>

        </div>
        <div *ngSwitchCase="'oneWeek'">
          one Week
        </div>
        <div *ngSwitchCase="'oneMonth'">
          One Mont
        </div>
        <div *ngSwitchCase="'threeMonths'">
          3 month
        </div>
        <div *ngSwitchCase="'sixMonths'">
          6 month
        </div>
        <div *ngSwitchCase="'oneYear'">
          one year
        </div>
        <div *ngSwitchCase="'threeYears'">
          3 year
        </div>
        <div *ngSwitchCase="'allTime'">
          all time
        </div>
      </div>
    </div>
  </div>


</ion-content>