ion-title {
    padding: 0;
}

ion-list {
    padding: 0px;
}

ion-item-divider {
    color: black;
}

.label {
    font-size: 12px;
}

#title {
    align-self: center;
}

#negative-sentiment {
    color: rgb(255, 0, 0);
}
#price {
    color: rgb(0, 255, 0);
}
#price-change {
    color: rgb(0, 255, 0);
}
#sentiment-change {
    color: rgb(0, 255, 0);
}

h4 {
    font-size: 11px;
    padding-top: 15px;
}
