<ion-header [hidden]="devWidth > 800">
  <ion-toolbar>
    <ion-title>Alerts</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="funnel" style="font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="alerts">
  <ion-segment-button value="stocks">
    <ion-label>
      Stocks
    </ion-label>
  </ion-segment-button>
  <ion-segment-button value="crypto">
    <ion-label>
      Crypto
    </ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content [ngSwitch]="alerts">
  <ion-list *ngSwitchCase="'stocks'">

    <ion-item-divider color="white">
      <ion-label style="font-size:18px;"><strong>Trending</strong></ion-label>
    </ion-item-divider>
    <ion-item-divider color="white">
      <ion-label style="font-size:15px;">Positive Sentiment</ion-label>
    </ion-item-divider>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item-divider color="white">
      <ion-label style="font-size:15px;">Negative Sentiment</ion-label>
    </ion-item-divider>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item-divider color="white">
      <ion-label style="font-size:18px;"><strong>Top Gainers</strong></ion-label>
    </ion-item-divider>
    <ion-item-divider color="white">
      <ion-label style="font-size:18px;"><strong>Top Losers</strong></ion-label>
    </ion-item-divider>
  </ion-list>


  <ion-list *ngSwitchCase="'crypto'">

    <ion-item-divider color="white">
      <ion-label style="font-size:18px;"><strong>Trending</strong></ion-label>
    </ion-item-divider>
    <ion-item-divider color="white">
      <ion-label style="font-size:15px;">Positive Sentiment</ion-label>
    </ion-item-divider>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item-divider color="white">
      <ion-label style="font-size:15px;">Negative Sentiment</ion-label>
    </ion-item-divider>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item>
      test data
    </ion-item>
    <ion-item-divider color="white">
      <ion-label style="font-size:18px;"><strong>Top Gainers</strong></ion-label>
    </ion-item-divider>
    <ion-item-divider color="white">
      <ion-label style="font-size:18px;"><strong>Top Losers</strong></ion-label>
    </ion-item-divider>
  </ion-list>

</ion-content>