<ion-header [hidden]="devWidth > 800">
  <ion-toolbar>
    <ion-title>Bad Sentiment</ion-title>
    <app-logout slot="end"></app-logout>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="stocks">
      <ion-label>Stonks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="crypto">
      <ion-label>Crypto</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="selectedSegment">

    <div *ngSwitchCase="'stocks'">
      <ion-note>
        <h5 style="text-align: right; font-size: 10px; padding-top:5px; padding-bottom: 0; margin: 0;">*press stock to
          filter out*</h5>
      </ion-note>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType" [colors]="chartColors">
      </canvas>
    </div>
    <div *ngSwitchCase="'crypto'">

      <ion-note>
        <h5 style="text-align: right; font-size: 10px; padding-top:5px; padding-bottom: 0; margin: 0;">*press stock to
          filter out*</h5>
      </ion-note>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType">
      </canvas>
    </div>
  </div>


</ion-content>