<ion-select-option value="oneDay">1 Day</ion-select-option>
<ion-select-option value="oneWeek">1 Week</ion-select-option>
<ion-select-option value="oneMonth">1 Month</ion-select-option>
<ion-select-option value="threeMonths">3 Months</ion-select-option>
<ion-select-option value="sixMonths">6 Months</ion-select-option>
<ion-select-option value="oneYear">1 Year</ion-select-option>
<ion-select-option value="threeYears">3 Years</ion-select-option>
<ion-select-option value="allTime">All Time</ion-select-option>