ion-title {
    padding: 0;
}

ion-col {
    align-self: center;
}

ion-row {
    // margin-left: -0.5em;
    width: 100%;
    // margin-top: -15px;
}


#image {
    text-align: right;
}

#positive-change {
    color: rgb(0, 255, 0);
}
#negative-change {
    color: rgb(0, 255, 0);
}
#negative-sentiment {
    color: rgb(255, 0, 0);
}
#positive-sentiment {
    color: rgb(0, 255, 0);
}
#price {
    color: rgb(0, 255, 0);
}

#change,
#sentiment {
    margin-left: -4px;
}
