<ion-header [hidden]="devWidth > 800">
  <ion-toolbar>
    <ion-title>
      <ion-segment [(ngModel)]="homepage">
        <ion-segment-button value="watchlist">
          <ion-label>Watchlist</ion-label>
        </ion-segment-button>
        <ion-segment-button value="portfolio">
          <ion-label>Portfolio</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar animated placeholder="Search Stonk or Crypto"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" [(ngModel)]="timeline">
        <ion-select-option value="oneDay">1 Day</ion-select-option>
        <ion-select-option value="oneWeek">1 Week</ion-select-option>
        <ion-select-option value="oneMonth">1 Month</ion-select-option>
        <ion-select-option value="threeMonths">3 Months</ion-select-option>
        <ion-select-option value="sixMonths">6 Months</ion-select-option>
        <ion-select-option value="oneYear">1 Year</ion-select-option>
        <ion-select-option value="threeYears">3 Years</ion-select-option>
        <ion-select-option value="allTime">All Time</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-list>
    <ion-item-sliding>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-label>
                <h2>TSLA</h2>
                <h4 id="price">$621.44</h4>
              </ion-label>
            </ion-col>
            <ion-col col-5>
              <ion-label>
                <h3>Positive Sentiment <p id="positive-sentiment">77%</p>
                </h3>
                <h3>Negative Sentiment <p id="negative-sentiment">23%</p>
                </h3>
              </ion-label>
            </ion-col>
            <ion-col col-4 id="change">
              <ion-label>
                <h3>Change <p id="positive-change"> 8% </p>
                </h3>
                <h3>Change <p id="negative-change"> 31%</p>
                </h3>
              </ion-label>
            </ion-col>
            <ion-col id="image">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option (click)="moveToPortfolio()">Move to Portfolio</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="delete()">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div [ngSwitch]="homepage">

    <div *ngSwitchCase="'watchlist'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          oneday
        </div>
        <div *ngSwitchCase="'oneWeek'">
          1 WEek
        </div>
        <div *ngSwitchCase="'oneMonth'">
          1 Month
        </div>
        <div *ngSwitchCase="'threeMonths'">
          3 Months
        </div>
        <div *ngSwitchCase="'sixMonths'">
          6 Months
        </div>
        <div *ngSwitchCase="'oneYear '">
          1 Year
        </div>
        <div *ngSwitchCase="'threeYears'">
          3 Months
        </div>
        <div *ngSwitchCase="'allTime'">
          All Time
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'portfolio'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          oneday
        </div>
        <div *ngSwitchCase="'oneWeek'">
          1 WEek
        </div>
        <div *ngSwitchCase="'oneMonth'">
          1 Month
        </div>
        <div *ngSwitchCase="'threeMonths'">
          3 Months
        </div>
        <div *ngSwitchCase="'sixMonths'">
          6 Months
        </div>
        <div *ngSwitchCase="'oneYear '">
          1 Year
        </div>
        <div *ngSwitchCase="'threeYears'">
          3 Months
        </div>
        <div *ngSwitchCase="'allTime'">
          All Time
        </div>
      </div>
    </div>
  </div>

</ion-content>