<ion-header>
  <ion-toolbar>
    <ion-title>Stocks</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="funnel" style="font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-segment [(ngModel)]="goodBad">
    <ion-segment-button value="good" class="label">
      <ion-label>
        Positive Sentiment
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bad" class="label">
      <ion-label>
        Negative Sentiment
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-buttons slot="start" size="large">
        <ion-button (click)="filterPopup()">
          <ion-icon slot="icon-only" name="filter-outline" style="font-size: 20px;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-select interface="popover" [(ngModel)]="timeline" slot="end">
        <app-timeline></app-timeline>
      </ion-select>
    </ion-item>

  </ion-list>

  <div [ngSwitch]="goodBad">
    <div *ngSwitchCase="'good'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          <app-s-u-one></app-s-u-one>
        </div>
        <div *ngSwitchCase="'oneWeek'">
          <ion-item-divider>
            <ion-grid>
              <a style="text-decoration:none; color:inherit;" [routerLink]="['/stocks', productone.ticker]">
                <app-s-d-one></app-s-d-one>
              </a>

            </ion-grid>

          </ion-item-divider>


        </div>
        <div *ngSwitchCase="'oneMonth'">
          <app-s-u-one></app-s-u-one>
        </div>
        <div *ngSwitchCase="'threeMonths'">
          3 month
        </div>
        <div *ngSwitchCase="'sixMonths'">
          6 month
        </div>
        <div *ngSwitchCase="'oneYear'">
          one year
        </div>
        <div *ngSwitchCase="'threeYears'">
          3 year
        </div>
        <div *ngSwitchCase="'allTime'">
          all time
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'bad'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          
        </div>
        <div *ngSwitchCase="'oneWeek'">
          one Week
        </div>
        <div *ngSwitchCase="'oneMonth'">
          One Mont
        </div>
        <div *ngSwitchCase="'threeMonths'">
          3 month
        </div>
        <div *ngSwitchCase="'sixMonths'">
          6 month
        </div>
        <div *ngSwitchCase="'oneYear'">
          one year
        </div>
        <div *ngSwitchCase="'threeYears'">
          3 year
        </div>
        <div *ngSwitchCase="'allTime'">
          all time
        </div>
      </div>
    </div>
  </div>


</ion-content>