<ion-header>
  <ion-toolbar>
    <ion-title>Stocks</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="funnel" style="font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-segment [(ngModel)]="goodBad">
    <ion-segment-button value="good" class="label">
      <ion-label>
        Positive Sentiment
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bad" class="label">
      <ion-label>
        Negative Sentiment
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-buttons slot="start" size="large">
        <ion-button (click)="filterPopup()">
          <ion-icon slot="icon-only" name="filter-outline" style="font-size: 20px;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-select interface="popover" [(ngModel)]="timeline" slot="end">
        <app-timeline></app-timeline>
      </ion-select>
    </ion-item>

  </ion-list>

  <div [ngSwitch]="goodBad">
    <div *ngSwitchCase="'good'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          <app-s-one-day></app-s-one-day>
        </div>
        <div *ngSwitchCase="'oneWeek'">
          <app-s-p-one-week></app-s-p-one-week>
        </div>
        <div *ngSwitchCase="'oneMonth'">
          <app-s-p-one-month></app-s-p-one-month>
        </div>
        <div *ngSwitchCase="'threeMonths'">
          <app-s-p-three-month></app-s-p-three-month>
        </div>
        <div *ngSwitchCase="'sixMonths'">
          <app-s-p-six-month></app-s-p-six-month>
        </div>
        <div *ngSwitchCase="'oneYear'">
          <app-s-p-one-year></app-s-p-one-year>
        </div>
        <div *ngSwitchCase="'threeYears'">
          <app-s-p-three-year></app-s-p-three-year>
        </div>
        <div *ngSwitchCase="'allTime'">
          <app-s-p-all></app-s-p-all>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'bad'">
      <div [ngSwitch]="timeline">
        <div *ngSwitchCase="'oneDay'">
          <app-day-one-s-d></app-day-one-s-d>
        </div>
        <div *ngSwitchCase="'oneWeek'">
          <app-week-one-s-d></app-week-one-s-d>
        </div>
        <div *ngSwitchCase="'oneMonth'">
          <app-month-one-s-d></app-month-one-s-d>
        </div>
        <div *ngSwitchCase="'threeMonths'">
          <app-month-three-s-d></app-month-three-s-d>
        </div>
        <div *ngSwitchCase="'sixMonths'">
          <app-month-six-s-d></app-month-six-s-d>
        </div>
        <div *ngSwitchCase="'oneYear'">
          <app-year-one-s-d></app-year-one-s-d>
        </div>
        <div *ngSwitchCase="'threeYears'">
          <app-year-three-s-d></app-year-three-s-d>
        </div>
        <div *ngSwitchCase="'allTime'">
          <app-all-s-d></app-all-s-d>
        </div>
      </div>
    </div>
  </div>


</ion-content>