/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center {
    text-align: center;
}

.my-custom-class .alert-title.sc-ion-alert-md {
    color: #f00;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.my-custom-class .alert-head.sc-ion-alert-md {
    border-bottom: 1px solid black;
}

.my-custom-class .alert-wrapper.sc-ion-alert-md {
    height: 35em;
}
.my-custom-class .alert-message.sc-ion-alert-md {
    max-height: 23em;
}
.my-custom-class .alert-button-group.sc-ion-alert-md {
    justify-content: space-around;
    border-top: 1px solid black;
}
.my-custom-class .alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
    padding-top: 10px;
}

.test .popover-content.sc-ion-popover-md {
    left: 0px !important;
    transform-origin: right top;
    width: -webkit-fill-available;
}

.test .filterTitle {
    width: 90px;
}
