<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="good-sentiment">
        <ion-icon name="flame"></ion-icon>
        <ion-label [hidden]="576 > devWidth">Good Sentiment</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bad-sentiment">
        <ion-icon name="cut"></ion-icon>
        <ion-label [hidden]="576 > devWidth">Bad Sentiment</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="watchlist">
        <ion-icon name="star"></ion-icon>
        <ion-label [hidden]="576 > devWidth">Watchlist</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        <ion-label [hidden]="576 > devWidth">Notifications</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label [hidden]="576 > devWidth">Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>