<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="good-sentiment">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label [hidden]="800 > devWidth">Stocks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bad-sentiment">
        <ion-icon name="logo-bitcoin"></ion-icon>
        <ion-label [hidden]="800 > devWidth">Crypto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="watchlist">
        <ion-icon name="star"></ion-icon>
        <ion-label [hidden]="800 > devWidth">Watchlist</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        <ion-label [hidden]="800 > devWidth">Alerts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label [hidden]="800 > devWidth">Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>