<ion-title style="margin-bottom: 10px; margin-top: 10px;">Sort by:</ion-title>

<ion-list>
  <ion-item>
    <ion-buttons>
      <ion-button expand="full" fill="clear" style="width: -webkit-fill-available; justify-content: space-between;">
        Name
        <ion-icon slot="end" name="caret-up">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button expand="full" fill="clear" style="width: -webkit-fill-available; justify-content: space-between;">
        Price
        <ion-icon slot="end" name="caret-up">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button expand="full" fill="clear" style="width: -webkit-fill-available; justify-content: space-between;">
        Price Change
        <ion-icon slot="end" name="caret-up">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button expand="full" fill="clear" style="width: -webkit-fill-available; justify-content: space-between;">
        Sentiment
        <ion-icon slot="end" name="caret-up">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button expand="full" fill="clear" style="width: -webkit-fill-available; justify-content: space-between;">
        Sentiment Change
        <ion-icon slot="end" name="caret-up">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>
</ion-list>